<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <title>{{ title }}</title>
    <style> /* set the CSS */

            body { font: 12px Arial;}
            
            path { 
                stroke: steelblue;
                stroke-width: 2;
                fill: none;
            }
            
            .axis path,
            .axis line {
                fill: none;
                stroke: grey;
                stroke-width: 1;
                shape-rendering: crispEdges;
            }
            
        </style>


</head>

<body>
    <div class="container text-center">
        <h1>{{ about.subject }}</h1>
    </div>
    <div class="container text-center py-3">
        <div class="row">
            <div class="m-auto">
                <button class="btn btn-primary" onclick="updateData()" style="width: 150px;">Update</button>
            </div>
        </div>
    </div>

    <div class="container text-center pt-3">
        <h2>Latest Sensor Readings</h2>
        <div class="row">
            <div class="col-md-3">
                <table class="table table-striped">
                    <tr>
                        <th>Index</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td id="data0">1</td>
                    <tr>
                        <td>1</td>
                        <td id="data1">1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td id="data2">1</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td id="data3">1</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td id="data4">1</td>
                    </tr>
                    </tr>
                </table>
            </div>
            <div class="col-md-9">                            
                <div id="graph">

                </div>
            </div>
        </div>
    </div>

    <script>
    </script>
    <script>


    // Set the dimensions of the canvas / graph
var margin = {top: 30, right: 20, bottom: 30, left: 50},
    width = 600 - margin.left - margin.right,
    height = 270 - margin.top - margin.bottom;

// Set the ranges
var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

// Define the line
var valueline = d3.svg.line()
    .x(function(d) { return x(d[0]); })
    .y(function(d) { return y(d[1]); });
    
// Adds the svg canvas
var svg = d3.select("#graph")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");

// Get the data
var data = [ [0, parseInt(document.getElementById("data0").innerHTML)],
             [1, parseInt(document.getElementById("data1").innerHTML)],
             [2, parseInt(document.getElementById("data2").innerHTML)],
             [3, parseInt(document.getElementById("data3").innerHTML)],
             [4, parseInt(document.getElementById("data4").innerHTML)] ];
    console.log(data);

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d[0]; }));
    y.domain([0, d3.max(data, function(d) { return 255; })]);

    // Add the valueline path.
    svg.append("path")
        .attr("class", "line")
        .attr("d", valueline(data));

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

// ** Update data section (Called from the onclick)
function updateGraph() {

    // Get the data again
    var data = [ [0, parseInt(document.getElementById("data0").innerHTML)],
             [1, parseInt(document.getElementById("data1").innerHTML)],
             [2, parseInt(document.getElementById("data2").innerHTML)],
             [3, parseInt(document.getElementById("data3").innerHTML)],
             [4, parseInt(document.getElementById("data4").innerHTML)] ];

    	// Scale the range of the data again 
    	x.domain(d3.extent(data, function(d) { return d[0]; }));
	    y.domain([0, d3.max(data, function(d) { return 255; })]);

    // Select the section we want to apply our changes to
    var svg = d3.select("body").transition();

    // Make the changes
        svg.select(".line")   // change the line
            .duration(750)
            .attr("d", valueline(data));
        svg.select(".x.axis") // change the x axis
            .duration(750)
            .call(xAxis);
        svg.select(".y.axis") // change the y axis
            .duration(750)
            .call(yAxis);
}

        function updateData() {
            $.get('/getNewData', {
            }).done(function (response) {
                document.getElementById("data0").innerHTML = response['0'];
                document.getElementById("data1").innerHTML = response['1'];
                document.getElementById("data2").innerHTML = response['2'];
                document.getElementById("data3").innerHTML = response['3'];
                document.getElementById("data4").innerHTML = response['4'];
                updateGraph();
            }).fail(function () {
                console.log("Error contacting server");
            });
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>